H1 {
 color: black;
 }
 
body {
    background-image: url(../image/fon.jpg);
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

p{text-indent: 30px; }

I B { color: red; }

B + I { color: red; }

P > B { color: red; }

A[href^="http://"] {
font-weight: bold
}

.menu1{
background: radial-gradient(#f4EEE1, #D2B48C);
color: white;
width: 150; /*Ширина пункта меню*/
padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
margin-bottom: 5px; /*Отступ снизу от каждого пункта меню*/
}

.zagolovok {
    font-style:oblique;
    font-family: Calibri;
    font-weight: bold; 
    font-size: 20px;
   }
   
h1 {
text-shadow: 2px 2px red;
}

H1{
text-indent: 30px;
border: 5px double #ff4f00;
}

li {
   list-style-type: none;
 }

.button:active {
  background-color:  #D2B48C;
 box-shadow: 0 5px #666;
   transform: translateY(4px);
}

 
 
 
 

#menuVertical{
	position: fixed;
	z-index: 5;
	transition: .3s;
}

#menuVertical ul{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

#menuVertical ul li{
	display: block;
	position: relative;
}

#menuVertical ul li a{
	position: relative;
	display: block;
	box-sizing: border-box;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 2em;
	padding: 10px 15px;
	text-decoration: none;
}



#menuVertical ul li a:hover,
#menuVertical ul li:hover a{}

#menuVertical ul li ul{
	position: absolute;
	top: 0px;
	left: 150px;
	display: none;
	width: auto;
}

#menuVertical ul li:hover ul{
	display: block;
}

#menuVertical ul li ul li a{
	white-space: nowrap;
	text-transform: none;
	padding: 10px 20px;

}

#menuVertical ul li ul li a:hover{}

.menu{
	position: absolute;
	width: 150px;
	height: 100%;
	position: fixed;
	top: 79px;
	z-index: 3;
}




.photo{
  position: relative;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    -webkit-animation-iteration-count: infinite; 
    animation-name: example;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}

@-webkit-keyframes example {
    0%   { left:600px; top:0px;}
    25%  { left:300px; top:0px;}
    50%  {left:300px; top:300px;}
    75%  {left:0px; top:300px;}
    100% {left:0px; top:600px;}
}

@keyframes example {
  0%   { left:600px; top:0px;}
    25%  { left:300px; top:0px;}
    50%  {left:300px; top:300px;}
    75%  {left:0px; top:300px;}
    100% {left:0px; top:600px;}
	


	
	
	
	
	